<div id="networkebee_content">
  <center>
  <h1 class="logo_heading"> SocialBee </h1>
  <div class="logo_container">
    <img src="http://localhost:3000/logo.png" style="width:100%"/>
  </div>
  <div class="login_message">
    Know how you are connected to your contacts.
  </div>
  <div class="fbconnect">
    <img src="http://localhost:3000/fbconnect.png" style="width:80%"/>
  </div>
  <div class="fbconnect">
    <img src="http://localhost:3000/linkedin.png" style="width:80%"/>
  </div>

  </center>
</div>
