<div id="networkebee_content">
  <center>
  <h1 class="logo_heading"> NetworkBee </h1>
  <div class="logo_container">
    <img src="http://localhost:3000/logo.png" style="width:100%"/>
  </div>
  </center>
</div>
